global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']
    metrics_path: /metrics
    scrape_interval: 10s

  - job_name: 'spring-boot-app'
    static_configs:
      - targets: ['kube-monitor-probe:8080']
    metrics_path: /actuator/prometheus
    scrape_interval: 10s