server:
  http_listen_port: 3200
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

ingester:
  max_block_bytes: 1000000
  max_block_duration: 5m
  trace_idle_period: 10s
  wal:
    path: /var/tempo/wal

compactor:
  compaction:
    block_retention: 48h

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/traces

query_frontend:
  max_outstanding_requests: 100

querier:
  frontend_worker:
    frontend_address: 127.0.0.1:3200

search_enabled: true
