receivers:
  otlp:
    protocols:
      grpc: { endpoint: 0.0.0.0:4317 }
      http: { endpoint: 0.0.0.0:4318 }

  filelog:
    include: [ /app/logs/application.log ]
    start_at: end                 # geçmiş bozukları okuma
    include_file_path: true
    include_file_name: true
    encoding: utf-8
    operators:
      - type: json_parser
        timestamp:
          parse_from: body.timestamp
          layout: '%Y-%m-%d %H:%M:%S.%L'   # 2025-11-06 11:43:47.929 (nokta)
      # (opsiyonel) message içi JSON’u da açmak istersen:
      # - type: json_parser
      #   parse_from: body.message
      #   on_error: send
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]

processors:
  batch: {}
  resource:
    attributes:
      - key: service.name
        value: kube-monitor-probe-kit
        action: upsert
  attributes/add_service:
    actions:
      - key: service
        action: upsert
        from_attribute: service.name

exporters:
  logging:
    verbosity: normal

  otlp/jaeger:
    endpoint: jaeger:4317
    tls: { insecure: true }

  prometheus:
    endpoint: 0.0.0.0:8889

  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    tls: { insecure: true }
    # EN AZ 1 LABEL zorunlu → job yeter
    default_labels_enabled:
      job: true
      exporter: false

service:
  pipelines:
    logs:
      receivers: [filelog]
      processors: [resource, attributes/add_service, batch]
      exporters: [loki, logging]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/jaeger]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]